body {
  --shade03: #{{base00-hex}}
  --shade02: #{{base01-hex}}
  --shade01: #{{base02-hex}}
  --shade00: #{{base03-hex}}
  --shade0:  #{{base05-hex}}
  --shade1:  #{{base06-hex}}
  --shade2:  #{{base07-hex}}
  --shade3:  #{{base08-hex}}
  --red:     #{{base08-hex}}
  --orange:  #{{base09-hex}}
  --yellow:  #{{base0A-hex}}
  --green:   #{{base0B-hex}}
  --cyan:    #{{base0C-hex}}
  --blue:    #{{base0D-hex}}
  --violet:  #{{base0E-hex}}
  --magenta: #{{base0F-hex}}

  --background: var(--shade03)
  --highlight:  var(--shade02)
  --secondary:  var(--shade01)
  --primary:    var(--shade0)
  --em:         var(--shade1) 
}
